@model E_TicaretMVC.Models.Urun

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Urun</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adi)
                @Html.ValidationMessageFor(model => model.Adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aciklama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aciklama)
                @Html.ValidationMessageFor(model => model.Aciklama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlisFiyat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlisFiyat)
                @Html.ValidationMessageFor(model => model.AlisFiyat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SatisFiyat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SatisFiyat)
                @Html.ValidationMessageFor(model => model.SatisFiyat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EklenmeTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EklenmeTarihi)
                @Html.ValidationMessageFor(model => model.EklenmeTarihi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SonKullanmaTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SonKullanmaTarihi)
                @Html.ValidationMessageFor(model => model.SonKullanmaTarihi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KategoriID, "KategoriID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KategoriID", String.Empty)
                @Html.ValidationMessageFor(model => model.KategoriID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MarkaID, "MarkaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MarkaID", String.Empty)
                @Html.ValidationMessageFor(model => model.MarkaID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
