@model E_TicaretMVC.Models.UrunOzellik

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UrunOzellik</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OzellikDeger.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OzellikDeger.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OzellikTip.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OzellikTip.Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
